html, body {
  margin: 0;
  padding: 0;
}

body {
  max-width: 90%;
  margin: 50px auto;
  font-family: monospace;
  background-color: #F9F1EF;
  color: #1B033B;
}

canvas {
  display: block;
}

.hidden {
  display: none;
  /* visibility: hidden;
  visibility: visible; */
}
